{% extends "layout.html" %}
{% set active_page = "nav_add" %}
{% block title %}Add a car{% endblock %}
{% block h1 %}Fill this form to add an EV{% endblock %}
{% block content %}


<form class="multi-range-field my-5 pb-5" action="/put_car" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="The name of the vehicule">
        </div>
        <div class="form-group col-md-6">
            <label for="manufacturer">Manufacturer</label>
            <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Manufacturer">
        </div>
    </div>
    <div class="form-row">
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label" for="year">Year:</label>
                <input class="form-control" id="year" name="year" type="number" min="1900" max="2022" step="1"
                    value="2022" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label" for="battery">Battery size in Kwh:</label>
                <input class="form-control" id="battery" name="battery" type="number" min="0" step="1" value="0" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label" for="wltp">WLTP range in Km:</label>
                <input class="form-control" id="wltp" name="wltp" type="number" min="0" step="1" value="0" />
            </div>
            <div class="form-group ">
                <input class="form-control" id="max_wltp" name="max_wltp" type="number" min="0" step="1"
                    placeholder="Max" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label" for="cost">Cost in €:</label>
                <input class="form-control" id="cost" name="cost" type="number" min="0" step="1" value="0" />
            </div>

        </div>
        <div class="col">
            <div class="form-group ">
                <label class="control-label" for="power">Power in Kw:</label>
                <input class="form-control" id="power" name="power" type="number" min="0" step="1" value="0" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn btn-secondary">Add this vehicule</button>
    </div>
</form>
{% endblock %}