{% extends "layout.html" %}
{% set active_page = "" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='car.js') }}"></script>
{% endblock %}
{% block title %}{{ car['name'] }} - {{ car['manufacturer'] }}{% endblock %}
{% block h1 %}Here are the details of the {{ car['name'] }} - {{ car['manufacturer'] }}{% endblock %}
{% block classes %}text-center{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Year</th>
            <th scope="col">Battery size (Kwh)</th>
            <th scope="col">WLTP range (Km)</th>
            <th scope="col">Cost</th>
            <th scope="col">Power (Kw)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{ car['name'] }}</th>
            <td>{{ car['manufacturer'] }}</td>
            <td>{{ car['year'] }}</td>
            <td>{{ car['battery'] }}</td>
            <td>{{ car['wltp'] }}</td>
            <td>{{ car['cost'] }}</td>
            <td>{{ car['power'] }}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn btn-secondary" id="edit-car">Edit this vehicule</button>
<button class="btn btn btn-secondary" id="hide-edition" hidden="true">Hide edition</button>
<form class="multi-range-field my-5 pb-5" id="edit-car-form" action="/edit_car" method="post" hidden="true">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ car['name'] }}">
        </div>
        <div class="form-group col-md-6">
            <label for="manufacturer">Manufacturer</label>
            <input type="text" class="form-control" id="manufacturer" name="manufacturer"
                value="{{ car['manufacturer'] }}">
        </div>
    </div>
    <div class="form-row">
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="year">Year:</label>
                <input class="form-control" id="year" name="year" type="number" min="1900" max="2022" step="1"
                    value="{{ car['year'] }}" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="battery">Battery size in Kwh:</label>
                <input class="form-control" id="battery" name="battery" type="number" min="0" step="1"
                    value="{{ car['battery'] }}" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="wltp">WLTP range in Km:</label>
                <input class="form-control" id="wltp" name="wltp" type="number" min="0" step="1"
                    value="{{ car['wltp'] }}" />
            </div>
            <div class="form-group ">
                <input class="form-control" id="max_wltp" name="max_wltp" type="number" min="0" step="1" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="cost">Cost in €:</label>
                <input class="form-control" id="cost" name="cost" type="number" min="0" step="1"
                    value="{{ car['cost'] }}" />
            </div>

        </div>
        <div class="col">
            <div class="form-group ">
                <label class="control-label col-sm" for="power">Power in Kw:</label>
                <input class="form-control" id="power" name="power" type="number" min="0" step="1"
                    value="{{ car['power'] }}" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn btn-secondary">Update this vehicule</button>
    </div>
</form>
<form class="multi-range-field my-5 pb-5" action="/delete_car" method="post">
    <input type="hidden" id="car_id" name="car_id" value="{{ car['id'] }}">
    <button type="submit" class="btn btn btn-secondary">Delete this vehicule</button>
</form>
{% endblock %}