{% extends "layout.html" %}
{% set active_page = "" %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='car.js') }}"></script>
{% endblock %}
{% block title %}{{ car['name'] }} - {{ car['manufacturer'] }}{% endblock %}
{% block h1 %}Here are the details of the {{ car['name'] }} - {{ car['manufacturer'] }}{% endblock %}
{% block classes %}text-center{% endblock %}
{% block content %}
<table class="table table-striped w-10">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Year</th>
            <th scope="col">Battery size (Kwh)</th>
            <th scope="col">WLTP range (Km)</th>
            <th scope="col">Cost</th>
            <th scope="col">Power (Kw)</th>
            <th scope="col">Average rating (/10)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{ car['name'] }}</th>
            <td>{{ car['manufacturer'] }}</td>
            <td>{{ car['year'] }}</td>
            <td>{{ car['battery'] }}</td>
            <td>{{ car['wltp'] }}</td>
            <td>{{ car['cost'] }}</td>
            <td>{{ car['power'] }}</td>
            <td>{{ car['average'] }}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn btn-secondary" id="edit-car">Edit this vehicle</button>
<button class="btn btn btn-secondary" id="hide-edition" hidden="true">Hide edition</button>
<form class="my-5 p-5 border border-light rounded bg-dark" id="edit-car-form" action="/edit_car" method="post"
    hidden="true">
    <input type="hidden" name="car_id_update" id="car_id_update" value="{{ car.key.id }}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="hidden" id="current_name" name="current_name" value="{{ car['name'] }}">
            <label for="new_name">Name</label>
            <input type="text" class="form-control" id="new_name" name="new_name" value="{{ car['name'] }}">
        </div>
        <div class="form-group col-md-6">
            <input type="hidden" id="current_manufacturer" name="current_manufacturer"
                value="{{ car['manufacturer'] }}">
            <label for="new_manufacturer">Manufacturer</label>
            <input type="text" class="form-control" id="new_manufacturer" name="new_manufacturer"
                value="{{ car['manufacturer'] }}">
        </div>
    </div>
    <div class="form-row">
        <div class="col border-right">
            <div class="form-group ">
                <input type="hidden" class="form-control" id="current_year" name="current_year"
                    value="{{ car['year'] }}" />
                <label class="control-label col-sm" for="new_year">Year:</label>
                <input class="form-control" id="new_year" name="new_year" type="number" min="1900" max="2022" step="1"
                    value="{{ car['year'] }}" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="new_battery">Battery size in Kwh:</label>
                <input class="form-control" id="new_battery" name="new_battery" type="number" min="0" step="1"
                    value="{{ car['battery'] }}" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="new_wltp">WLTP range in Km:</label>
                <input class="form-control" id="new_wltp" name="new_wltp" type="number" min="0" step="1"
                    value="{{ car['wltp'] }}" />
            </div>
            <div class="form-group ">
                <input class="form-control" id="max_wltp" name="max_wltp" type="number" min="0" step="1" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="new_cost">Cost in €:</label>
                <input class="form-control" id="new_cost" name="new_cost" type="number" min="0" step="1"
                    value="{{ car['cost'] }}" />
            </div>

        </div>
        <div class="col">
            <div class="form-group ">
                <label class="control-label col-sm" for="new_power">Power in Kw:</label>
                <input class="form-control" id="new_power" name="new_power" type="number" min="0" step="1"
                    value="{{ car['power'] }}" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn btn-secondary">Update this vehicle</button>
    </div>
</form>
<div class="text-justify">
    <h2 class="mt-5">Reviews</h2>
    <button class="btn btn btn-secondary" id="show-add-review">Add a review for this vehicle</button>
    <button class="btn btn btn-secondary" id="hide-add-review" hidden="true">Hide form to add a review</button>
    <form class="border border-light rounded p-5 bg-dark" id="add-review-form" action="/add_review" method="post"
        hidden="true">
        <input type="hidden" name="car_id_review" id="car_id_update" value="{{ car.key.id }}">
        <div class="form-group">
            <label for="rating_review">Rate this vehicle</label>
            <input type="range" name="rating_review" id="rating_review" class="form-control-range" min="0" max="10"
                value="5" oninput="this.nextElementSibling.value = this.value+'/10'" required>
            <output>5/10</output>
        </div>
        <div class="form-group">
            <label for="text_review">Your review</label>
            <textarea name="text_review" id="text_review" cols="3" class="form-control" maxlength="1000"
                required></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn btn-secondary">Add your review</button>
        </div>
    </form>
    {% if car['list_reviews']|length > 0 %}

    {% for review in car['list_reviews'][::-1] %}
    <div class="rounded bg-light comment">
        <div class="text-muted">
            <h5 class="col">{{ review['name'] }}</h5>
            <span class="col">Rate : {{ review['rating'] }}/10</span>
            <span class="col-md-3 align-right">{{ review['timestamp'].strftime('at %H:%M on %Y-%m-%d') }}</span>
        </div>
        <p class="bg-secondary">
            {{ review['text'] }}
        </p>
    </div>
    {% endfor %}
    {% else %}
    <p class="lead">No review yet.</p>
    {% endif %}

</div>
<form class="my-2 pb-2" id="delete-car-form" action="/delete_car" method="post">
    <input type="hidden" id="car_id_delete" name="car_id_delete" value="{{ car.key.id }}">
    <button type="submit" class="btn btn btn-danger">Delete this vehicle</button>
</form>
{% endblock %}