{% extends "layout.html" %}
{% set active_page = "nav_compare" %}
{% block title %}Compare cars{% endblock %}
{% block h1 %}Select vehicles you want to compare{% endblock %}
{% block classes %}text-center{% endblock %}
{% block content %}
{% if cars_list|length > 1 %}
<form class="text-justify lead" action="/compare_result" method="post">
    {% for car in cars_list %}
    <div class="pb-3 form-group">
        <label class="form-check-label">
            <input type="checkbox" value="{{ car.key.name }}" class="form-check-input" name="car-item">
            {{ car['name'] }} - {{ car['manufacturer'] }} - {{ car['year'] }}
        </label>
    </div>
    {% endfor %}
    <input class="btn btn-lg btn-secondary" type="submit" value="Compare these vehicles">
</form>
{% else %}
<p class="lead">Not enough vehicles to compare yet.</p>
<p class="lead">
    <a href="/add_car" class="btn btn-lg btn-secondary">Add one</a>
</p>

{% endif %}
{% endblock %}