{% extends "layout.html" %}
{% set active_page = "nav_find" %}
{% block title %}Find cars{% endblock %}
{% block h1 %}Here is find our vehicles{% endblock %}
{% block classes %}text-center{% endblock %}
{% block content %}
<form class="my-5 pb-5 lead" action="/find_cars_result" method="get">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="The name of the vehicle">
        </div>
        <div class="form-group col-md-6">
            <label for="manufacturer">Manufacturer</label>
            <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Manufacturer">
        </div>
    </div>
    <div class="form-row">
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="year">Year</label>
                <input class="form-control" id="min_year" name="min_year" type="number" min="1900" max="2022" step="1"
                    placeholder="Min" />
            </div>
            <div class="form-group ">
                <input class="form-control" id="max_year" name="max_year" type="number" min="1900" max="2022" step="1"
                    placeholder="Max" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="min_battery">Battery size in Kwh:</label>
                <input class="form-control" id="min_battery" name="min_battery" type="number" min="0" step="1"
                    placeholder="Min" />
            </div>
            <div class="form-group ">
                <input class="form-control" id="max_battery" name="max_battery" type="number" min="0" step="1"
                    placeholder="Max" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="min_wltp">WLTP range in Km:</label>
                <input class="form-control" id="min_wltp" name="min_wltp" type="number" min="0" step="1"
                    placeholder="Min" />
            </div>
            <div class="form-group ">
                <input class="form-control" id="max_wltp" name="max_wltp" type="number" min="0" step="1"
                    placeholder="Max" />
            </div>
        </div>
        <div class="col border-right">
            <div class="form-group ">
                <label class="control-label col-sm" for="min_cost">Cost in €:</label>
                <input class="form-control" id="min_cost" name="min_cost" type="number" min="0" step="1"
                    placeholder="Min" />
            </div>
            <div class="form-group ">
                <input class="form-control" id="max_cost" name="max_cost" type="number" min="0" step="1"
                    placeholder="Max" />
            </div>
        </div>
        <div class="col">
            <div class="form-group ">
                <label class="control-label col-sm" for="min_power">Power in Kw:</label>
                <input class="form-control" id="min_power" name="min_power" type="number" min="0" step="1"
                    placeholder="Min" />
            </div>
            <div class="form-group ">
                <input class="form-control" id="max_power" name="max_power" type="number" min="0" step="1"
                    placeholder="Max" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-secondary">Filter</button>
</form>

{% endblock %}