<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
    {% endblock %}
</head>

<body>

    <div class=" d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                {% set navbar = [
                ('/', 'nav_home', 'Home'),
                ('/find_cars','nav_find','Find cars'),
                ('/add_car','nav_add','Add a car'),
                ('/compare','nav_compare','Compare cars'),
                ('/login', 'nav_login', '')
                ] -%}

                {% set active_page = active_page|default('index') -%}
                <nav class="nav nav-masthead justify-content-center">
                    {% for href, id, caption in navbar %}
                    <a class="nav-link{{ ' active' if id==active_page else '' }}" id="{{ id }}" href="{{ href }}">{{
                        caption }}</a>
                    {% endfor %}
                    <button type="button" id="sign-out" hidden="true" class="nav-link btn">Log
                        out</button>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            {% if message %}
            <div
                class="card d-flex justify-content-center text-center mb-5 {{'bg-success' if status=='success' else 'bg-danger' if status=='error' else 'bg-secondary' }}">
                <div class="card-body">
                    <p class="card-text">{{ message }}</p>
                </div>
            </div>
            {% endif %}
            <h1 class="cover-heading text-center">{% block h1 %}{% endblock %}</h1>
            <div class="containter {% block classes %}{% endblock %}">
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner text-center">
                <p> Barnabé Geffroy - student number 3092432</p>
            </div>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
</body>

</html>