{% extends "layout.html" %}
{% set active_page = "nav_login" %}
{% block title %}Login{% endblock %}
{% block h1 %}User section{% endblock %}
{% block classes %}text-center{% endblock %}
{% block content %}
<div id="firebase-auth-container"></div>
<div id="login-info" class="lead" hidden="true">
  <h2>Login Info</h2>
  {% if user_data %}
  <dl>
    <dt>Name:</dt>
    <dd>{{ user_data['name'] }}</dd>
    <dt>Email:</dt>
    <dd>{{ user_data['email'] }}</dd>
  </dl>
  {% elif error_message %}
  <p>Error Message: {{ error_message }}</p>
  {% endif %}
</div>
{% endblock %}